---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>

        <div id="content-desktop">
          <br>
          <section class="subscribe" className=" inline-block">
            <div class="container">
              <form action="https://www.getrevue.co/profile/manikanthgoud123/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank">
                <div class="form-row justify-content-center">
                  <div class="col-auto">
                    <input type="email" name="member[email]" id="member_email" class="form-control" placeholder="Join the Data Blog Newsletter by entering your email">
                  </div>
                  <p>Powered by Revue (<a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a>, <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>)</p>
                  <div class="col-auto">
                    <button type="submit" onClick={subscribeClick} name="member[subscribe]" id="member_submit">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
        
      </div>
    </div>



    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

          {% assign sorted = site.sections | reverse %}
          {% for post in sorted %}
          {% include card.html %}
          {% endfor %}
          {{ content }}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>
    

    {% include footer.html %}

  </body>

  <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>
  addBackToTop({
    diameter: 56,
    backgroundColor: '#313237',
    textColor: '#fff'
  })
</script>
</html>
